*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: grey;
}
.gallery{
    position: relative;
    width: 600px;
    height: 400px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    overflow: hidden;
}
.gallery-block{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 7;
    background-image: url(./image/1.jpg);
    animation: imageTransition 28s cubic-bezier(.58,.11,.12,.16) infinite;
    transform: translateX(600px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-two{
    background-image: url(./image/2.jpg);
    z-index: 6;
    animation-delay: 7s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-three{
    background-image: url(./image/3.jpg);
    z-index: 5;
    animation-delay: 14s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-four{
    background-image: url(./image/4.jpg);
    z-index: 4;
    animation-delay: 21s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@keyframes imageTransition{
    5%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-600px);
    }
    100%{
        transform: translateX(-600px);
    }
}